[default]
path_in = data/files/input
base_server_path=
base_path = data/files/output
path_out =

block_size = 64,64
search_range = 16
filter_intensity = 40.0
fps= 30

gray = False
motion_intensity = True

demo = False
window_title =
plot_scale_factor = 0.0
compare_filtered_result = True

crop_frames = False

[connection]
server_address = 
websocket_port = 
http_port = 
file_base_path = data/files/input
connect_timeout = 10
read_timeout = 10
write_timeout = 10

