<div class="upload-container flex flex-col md:flex-row items-stretch my-8">
    
  <div class="settings-card bg-white sm:m-3 md:m-0 md:w-1/6 mb-4 md:mb-0 overflow-hidden shadow-lg md:rounded-l-none rounded-lg md:static">
    <div class="sm:px-6 sm:py-8 bg-white">
      <h2>Parameters</h2>
      <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="w-full mb-4">
          <mat-label>Block Size</mat-label>
          <mat-select formControlName="blockSize">
            <mat-option value="32">32</mat-option>
            <mat-option value="64">64</mat-option>
            <mat-option value="128">128</mat-option>
            <mat-option value="256">256</mat-option>
            <mat-option value="512">512</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field class="w-full mb-4">
          <mat-label>Search Range</mat-label>
          <input matInput type="number" formControlName="searchRange" min="2" max="32">
        </mat-form-field>
  
        <div class="flex flex-col mb-4">
          <mat-label class="mb-2">Filter Intensity</mat-label>
          <div class="w-full">
            <mat-slider formControlName="filterIntensity" ngDefaultControl min="0" max="100" step="1" thumbLabel [displayWith]="formatLabel" tickInterval="auto">
              <input matSliderThumb>
            </mat-slider>
          </div>
        </div>            
  
        <div class="flex items-center justify-center mb-4">
          <mat-label class="mr-2">Crop Video</mat-label>
          <mat-slide-toggle formControlName="cropFrames"></mat-slide-toggle>
        </div>
  
        <div class="flex justify-center mt-12">
          <button mat-raised-button color="primary" type="submit">Upload</button>
        </div>
      </form>
    </div>

  </div>

  <div class="flex flex-row flex-1 items-center justify-center w-full shadow-lg bg-white md:mx-10 p-3 rounded-lg">
    <div *ngIf="!videoFile" class="drop-area w-5/6 h-5/6 border-2 border-dashed border-gray-200 rounded-md transition-colors duration-500 flex items-center justify-center"
    (dragover)="onDragOver($event)"
    (drop)="onDrop($event)"
    (dragleave)="onDragLeave($event)"
    [class.bg-blue-50]="draggingOver">
    <input #fileInput id="file" type="file" onclick="this.value = null" (change)="onInputFileChange($event)" accept="video/*" class="w-full" hidden>
    <div class="text-center">
      <p class="text-gray-500" *ngIf="!draggingOver">Drag and drop your video file here or 
        <button class="text-amber-600 underline" (click)="fileInput.click()">select a file</button></p>
      <p class="text-blue-500" *ngIf="draggingOver">Drop your file!</p>
    </div>
  </div>
  
  
    <div class="md:w-3/4 w-full h-full flex flex-col items-center justify-center py-4" *ngIf="videoFile">
      <h2>Uploaded video</h2>
      <div>
        <video controls [src]="videoUrl" class="w-full rounded-md">Browser does not support video tag.</video>
      </div>
    </div>
  
    <div *ngIf="webSocketService.start_processing" class="md:w-3/4 w-full h-full flex flex-col items-center justify-center p-4">
      <app-download-component></app-download-component>
    </div>
  </div>

  
</div>
