<div class="flex flex-row items-center justify-center">
    <h2>{{ title }}<a *ngIf="videoUrl" [href]="videoUrl" class="underline" download="{{filename}}"> Download</a></h2>
</div>

<div class="flex flex-col items-center justify-center">
    <div *ngIf="videoUrl; else loading" class="flex flex-row items-center justify-center">
        <video controls [src]="videoUrl" class="w-full rounded-lg shadow-xl">Browser does not support video tag.</video>
    </div>
    <ng-template #loading>
        <mat-spinner diameter="25"></mat-spinner>
    </ng-template>
</div>
