[loggers]
keys=root,logger

[handlers]
keys=info_file_handler,error_file_handler,console_handler

[formatters]
keys=logfileformatter

[logger_root]
level=INFO
handlers=info_file_handler
propagate=0

[logger_logger]
level=INFO
handlers=info_file_handler,error_file_handler,console_handler
qualname=logger
propagate=0

[formatter_logfileformatter]
format=[%(asctime)s.%(msecs)03d] %(levelname)s [%(thread)d] - %(message)s

[handler_info_file_handler]
class=handlers.RotatingFileHandler
level=INFO
args=('logs/log_info.log','a')
formatter=logfileformatter

[handler_error_file_handler]
class=handlers.RotatingFileHandler
level=ERROR
args=('logs/log_error.log','a')
formatter=logfileformatter

[handler_console_handler]
class=StreamHandler
level=INFO
args=()
formatter=logfileformatter


